/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative; }

.notes {
  min-height: 100vh; }

.header {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  height: 50px; }
  .header__title {
    font-weight: bold;
    font-size: 26px;
    margin-right: auto;
    padding-left: 20px; }
  .header__add {
    background-color: #005cbf;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s; }
    .header__add:hover {
      background-color: #23466f; }

.main {
  display: flex;
  flex-direction: row; }

.note-list {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  padding: 10px;
  border-right: 3px solid black;
  min-height: 100vh;
  flex: 0 0 300px; }
  .note-list__item {
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    position: relative; }

.note-item {
  display: flex;
  align-items: center;
  height: 50px;
  transition: background-color 0.5s; }
  .note-item:hover {
    background-color: #005cbf; }
  .note-item:hover > .note-item__title {
    color: #ffffff; }
  .note-item__title {
    margin-right: auto;
    padding: 0 20px; }
  .note-item__remove {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #ff0000; }
    .note-item__remove:hover {
      background-color: #c61616; }

.note-card {
  flex: 1 0 300px; }
  .note-card__title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #005cbf; }
  .note-card__text {
    padding: 0 20px 20px;
    font-size: 16px;
    line-height: 1.2; }

.pop-up-wnd {
  background-color: rgba(66, 69, 73, 0.7);
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center; }

.note-form {
  align-self: center;
  display: flex;
  flex-direction: column; }
  .note-form__input {
    flex: 1 1 100px;
    width: 300px;
    padding: 10px; }
  .note-form__submit {
    border: none;
    background-color: #005cbf;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    color: #FFFFFF; }
    .note-form__submit:hover {
      background-color: #23466f; }
