@import "../../node_modules/reset-css/sass/reset";

body {
  position: relative;
}

.notes {
  min-height: 100vh;
}

.header {
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  height: 50px;

  &__title {
    font-weight: bold;
    font-size: 26px;
    margin-right: auto;
    padding-left: 20px;
  }

  &__add {
    background-color: #005cbf;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      background-color: #23466f;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
}

.note-list {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  padding: 10px;

  border-right: 3px solid black;
  min-height: 100vh;
  flex: 0 0 300px;

  &__item {
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
}

.note-item {
  display: flex;
  align-items: center;
  height: 50px;
  transition: background-color 0.5s;

  &:hover {
    background-color: #005cbf;
  }

  &:hover > &__title {
    color: #ffffff;
  }

  &__title {
    margin-right: auto;
    padding: 0 20px;
  }

  &__remove {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #ff0000;

    &:hover {
      background-color: #c61616;
    }
  }
}

.note-card {
  flex: 1 0 300px;

  &__title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #005cbf;
  }

  &__text {
    padding: 0 20px 20px;
    font-size: 16px;
    line-height: 1.2;
  }
}