@import "./node_modules/reset-css/sass/reset";

.notes {
  min-height: 100vh;
}

.header {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px;
  font-weight: bold;
  font-size: 26px;
}

.main {
  display: flex;
  flex-direction: row;
}

.note-list {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  padding: 10px;

  border-right: 3px solid black;
  min-height: 100vh;
  flex: 0 0 300px;

  &__item {
    padding: 20px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #005cbf;
      color: #ffffff;
    }
  }
}

.note-card {
  flex: 1 0 300px;
  &__title {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #005cbf;
  }

  &__text {
    padding: 20px;
    padding-top: 0;
    font-size: 16px;
    line-height: 1.2;
  }
}